[submodule "spear_rover/libcanard"]
	path = submodules/libcanard
	url = https://github.com/UAVCAN/libcanard
[submodule "spear_rover/uavcan_dsdl"]
	path = submodules/uavcan_dsdl
	url = https://github.com/UofA-SPEAR/uavcan_dsdl
