<launch>
  <node name="udp_sender" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
    <param name="destination_addr" value="hal"/>
    <param name="destination_port" value="17001"/>
    <rosparam command="load" file="$(find drive_controls)/launch/topics.yaml"/>
  </node>
  <node name="drive_node" type="drive.py" pkg="drive_controls" output="screen"/>
</launch>
