<!-- Send commands to and receive feedback from the rover over UDP, translating to/from ROS messages -->
<launch>
  <!-- Destination (rover) IP address and port -->
  <arg name="target" default="192.168.0.69"/>
  <arg name="target_port" default="17001"/>
  <!-- Local port to receive packets from the rover -->
  <arg name="port" default="17001"/>

  <!-- Receive feedback from the rover -->
  <node name="udp_receiver" pkg="nimbro_topic_transport" type="udp_receiver" output="screen">
    <param name="port" value="$(arg port)"/>
  </node>

  <!-- Send commands to the rover -->
  <node name="udp_sender" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
    <param name="destination_addr" value="$(arg target)"/>
    <param name="destination_port" value="$(arg target_port)"/>

    <!-- Only send messages from certain topics -->
    <rosparam command="load" file="$(find spear_station)/config/udp_topics.yaml"/>
  </node>
</launch>
