<launch>
  <!--
      This launch file runs a udp_receiver node, which receives topics
      over the network on port 17001 and publishes them on the local roscore.
      See udp_sender.launch for the sender part.
  -->

  <node name="udp_receiver" pkg="nimbro_topic_transport" type="udp_receiver" output="screen">
    <!-- The port to receive packets on -->
    <param name="port" value="17001"/>
  </node>

  <!-- The UDP sender node -->
  <node name="udp_sender" pkg="nimbro_topic_transport" type="udp_sender" output="screen">

    <!-- The destination host name or IP address -->
    <param name="destination_addr" value="192.168.0.69"/>
    <param name="destination_port" value="17001"/>

    <!-- Load the list of topics from a YAML file -->
    <rosparam command="load" file="$(find spear_station)/config/udp_topics.yaml"/>
  </node>
</launch>
