<launch>
  <!-- Set this to your camera's name -->
  <arg name="cam_name" value="main_cam" />

  <!-- Start the GSCAM node -->
  <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video1 ! video/x-raw-yuv,framerate=30/1,width=640,height=480 ! ffmpegcolorspace " />
  <node pkg="gscam" type="gscam" name="$(arg cam_name)">
    <param name="camera_name" value="$(arg cam_name)" />
    <remap from="camera/image_raw" to="/$(arg cam_name)/image_raw" />
  </node>

  <node name="udp_sender" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
    <param name="destination_addr" value="jacob" />
    <param name="destination_port" value="17001" />
    <rosparam command="load" file="$(find rover2)/launch/topics.yaml" />
  </node>

  <!-- TODO: put on station2
  <node pkg="image_view" type="image_view" name="creative_view_rect" >
    <remap from="image" to="/$(arg cam_name)/image_rect_color" />
  </node> -->
</launch>
