<?xml version="1.0"?>

<model>
  <name>Lime Tennis Ball</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hudson Shykowski</name>
    <email>shykowsk@ualberta.ca</email>
  </author>

  <depend>
    <uri>model://tennis_green</uri>
    <version>1.0</version>
  </depend>
  
  <description>
    A lime green tennis ball
  </description>
</model>
