.action .text {
    font-style: italic;
}
.action .id {
    display: block;
    font-size: x-small;
}
.action {
    padding: 0px 20px 5px 20px;
}

.actionlist {
    list-style: none;
}

.action_executing {
}

.action_not_executing {
    opacity: 0.5;
}

.selectable_action {
    cursor: pointer;
    position: relative;
    left: 0px;
    opacity: 0.7;
    transition: left 0.1s;
    transition: opacity 0.1s;
}

.selectable_action:hover {
    left: 5px;
    opacity: 0.9;
}

.selectable_action:active {
    opacity: 1;
}