<launch>

    <!-- Hardcoded IP yeah, but we can fix that later -->
    <machine name="hal" address="192.168.0.61" />

    <node pkg="joy" name="joystick_input" type="joy_node">
        <param name="autorepeat_rate" value="10" />
        <!-- Maybe set coalesce_interval? -->
    </node>

    <!-- Listens to "/joy", outputs to "/drive" -->
    <node pkg="station2" name="joystick_reader"
        type="joy_sender.py" output="screen"
        machine="hal"/>

    <!-- Listens to "/drive" and ouputs to "/hw_interface/drive" />
    <node pkg="hardware_interface" name="hardware_interface"
        type="hardware_interface_node" 
        machine="hal"/>

    <!-- Start up ROS <--> CAN mapper -->
    <node name="rover2_can_mapper" pkg="rover2_can" 
        type="mapper.py" output="screen"
        machine="hal"/>

    <!-- Start canros server -->
    <arg name="can_interface" default="vcan0" />
    <arg name="uavcan_id" default="127" />
    <node ns="canros" name="server" pkg="canros" type="server.py"
        output="screen" required="true" machine="hal">
        <param name="can_interface" value="$(arg can_interface)" />
        <param name="uavcan_id" value="$(arg uavcan_id)" />
        <rosparam command="load" file="$(arg config_yaml)" />
    </node>

</launch>
