<!-- Launches everything needed to drive the rover by sending Twist messages -->
<launch>
  <arg name="world_name" default="$(find spear_simulator)/worlds/test.world"/>

  <!-- Launch gazebo to the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- Put the robot model in the world (automatically sets up sensors via plugins) -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen"/>

  <!-- Translate twist messages to wheel commands, and publish wheel odometry -->

  <rosparam command="load" file="$(find spear_simulator)/config/diffdrive.yaml" ns="/rover_diff_drive_controller"/>
  <node name="rover_controller_spawner" pkg="controller_manager" type="spawner" args="rover_diff_drive_controller --shutdown-timeout 3"/>

  <!-- Publish robot description -->
  <include file="$(find spear_rover)/launch/robot_description.launch"/>
</launch>
