<!-- Starts visual odometry and then includes main rtabmap launch file from
     spear_rover package -->
<launch>
  <!-- publish static transform so that RTAB-map knows where camera is -->
  <!-- this simply sets camera_depth_optical_frame to the same location as link_camera_depth but with the correct orientation -->
  <!-- args are: yaw pitch roll frame_id child_frame_id period_in_ms -->
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher"
    args="0 0 0 -1.57 0 -1.57 link_camera_depth camera_depth_optical_frame 100"/>

  <!-- Syncs up rgb, depth, and camera_info topics -->
  <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
    <remap from="rgb/image"        to="/camera/rgb/image_raw"/>
    <remap from="depth/image"      to="/camera/depth/image_raw"/>
    <remap from="rgb/camera_info"  to="/camera/rgb/camera_info"/>
    <remap from="rgbd_image"       to="/rtabmap/rgbd_image"/> <!-- output -->

    <!-- Should be true for not synchronized camera topics
         (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
    <param name="approx_sync"       value="false"/>
  </node>

  <!-- Visual odom node -->
  <node name="rgbd_odometry" pkg="rtabmap_ros" type="rgbd_odometry">
    <param name="publish_tf" value="false"/>
    <param name="subscribe_rgbd" type="bool" value="true"/>
    <!-- Reset odometry when lost -->
    <param name="Odom/ResetCountdown" value="1"/>
    <remap from="rgbd_image" to="/rtabmap/rgbd_image"/>
    <remap from="rgb/image" to="/camera/rgb/image_raw"/>
    <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
    <remap from="depth/image" to="/camera/depth/image_raw"/>
    <!-- this is the topic that the ekf node expect for visual odom -->
    <remap from="odom" to="/camera_depth/odom"/>
  </node>

  <param name="/rtabmap/rtabmap/approx_sync" type="bool" value="true"/>
  <param name="/rtabmap/rtabmap/publish_tf" type="bool" value="false"/>
  <!-- Include main rtabmap launch file from spear_rover package -->
  <include file="$(find spear_rover)/launch/rtabmap.launch">
    <arg name="odom_topic"                  value="/camera_depth/odom" />
    <arg name="camera_frame"                value="camera_depth_optical_frame" />
    <arg name="rgb_topic"                   value="/camera/rgb/image_raw" />
    <arg name="depth_topic"                 value="/camera/depth/image_raw" />
    <arg name="camera_info_topic"           value="/camera/rgb/camera_info" />
    <arg name="depth_camera_info_topic"     value="/camera/depth/camera_info" />
  </include>
</launch>
