<launch>
  <!-- publish static transform so that RTAB-map knows where camera is -->
  <!-- this simply sets camera_depth_optical_frame to the same location as link_camera_depth but with the correct orientation -->
  <!-- args are: yaw pitch roll frame_id child_frame_id period_in_ms -->
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher"
    args="0 0 0 -1.57 0 -1.57 link_camera_depth camera_depth_optical_frame 100"/>

  <!-- RTAB-map Node-->
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <!-- RTAB-map tuning parameters -->
      <arg name="rtabmap_args" value="--delete_db_on_start
          --Odom/ResetCountdown 1
          --Odom/Strategy 1
          --Vis/CorType 0" />
    <!-- Subscribe to odometry from diff drive controller -->
    <remap from="odom" to="/rover_diff_drive_controller/odom" />
    <arg name="frame_id"                    value="base_link" />
    <arg name="rgb_topic"                   value="/camera/rgb/image_raw" />
    <arg name="depth_topic"                 value="/camera/depth/image_raw" />
    <arg name="camera_info_topic"           value="/camera/rgb/camera_info" />
    <arg name="depth_camera_info_topic"     value="/camera/depth/camera_info" />
  </include>
</launch>
