<launch>
  <arg name="start_controller_manager" default="true"/>
  <!-- Start controller manager with CASE-specific hardware interface -->
  <node name="hardware" type="hardware_node" pkg="spear_rover" if="$(arg start_controller_manager)"/>
  <!-- Load and configure controllers -->
  <rosparam command="load" file="$(find spear_rover)/config/controllers.yaml"/>
  <arg name="controllers" value="drive_controller arm_controller joint_state_controller"/>
  <node name="rover_controller_spawner" pkg="controller_manager" type="spawner" args="$(arg controllers) --timeout 300"/>
</launch>
