<!-- Launches everything needed to drive the rover by sending Twist messages -->
<launch>
  <!-- Set true to use virtual CAN interface (for testing) -->
  <arg name="use_vcan"/>
  <arg name="can_interface" value="vcan0" if="$(arg use_vcan)"/>
  <arg name="can_interface" value="can0" unless="$(arg use_vcan)"/>

  <!-- Map ROS messages to/from CAN messages -->
  <include file="$(find canros)/launch/server.launch">
    <arg name="uavcan_id" value="127"/>
    <arg name="can_interface" value="$(arg can_interface)"/>
  </include>

  <!-- Convert twist messages to motor commands, publish wheel odometry -->
  <include file="$(find spear_rover)/launch/hardware.launch"/>

  <!-- Publish robot description -->
  <include file="$(find spear_rover)/launch/robot_description.launch"/>

  <!-- Launch sensors -->
  <include file="$(find spear_rover)/launch/sensors.launch"/>
</launch>
