<!-- Launches the sensors onboard the rover (in the simulator, these should already be there via plugins) -->
<launch>
  <!-- Launch IMU -->
  <!-- <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(find spear_rover)/config/razor_calibration.yaml" command="load"/>
    <remap from="/imu" to="/imu/data"/>
  </node> -->

  <!-- Launch GPS -->
  <node ns="gps" pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps_node" output="screen">
    <param name="port" value="/dev/spear/gps"/>
    <param name="baud" value="4800"/>
  </node>

  <node name="webcam1" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="/dev/spear/webcam1"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="link_camera_depth"/>
    <param name="camera_info_url" value="file://$(find spear_rover)/calibration/webcam1.yaml"/>
  </node>

  <node name="webcam2" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="/dev/spear/webcam2"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="link_camera_depth"/>
    <param name="camera_info_url" value="file://$(find spear_rover)/calibration/webcam2.yaml"/>
  </node>

</launch>
