<?xml version="1.0"?>

<model>
  <name>Fluorescent Yellow Tennis Ball</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hudson Shykowski</name>
    <email>shykowsk@ualberta.ca</email>
  </author>

  <depend>
    <uri>model://tennis_fluorescent_yellow</uri>
    <version>1.0</version>
  </depend>

  <description>
    A fluorescent yellow tennis ball
  </description>
</model>
