<!-- Perform camera calibration using the calibration rectangle in the club room -->
<launch>
  <arg name="device" default="/dev/video2"/>

  <node name="calibration" pkg="camera_calibration" type="cameracalibrator.py" args="--size 10x7 --square 3.509">
    <remap from="image" to="webcam/image_raw"/>
    <remap from="camera" to="webcam"/>
  </node>

  <node name="webcam" pkg="usb_cam" type="usb_cam_node">
      <param name="video_device" value="$(arg device)"/>
      <param name="pixel_format" value="yuyv"/>
  </node>
</launch>
