<launch>
    <!-- default *should* be can0 but I'm lazy -->
    <arg name="interface" default="vcan0" />

    <rosparam file="$(find spear_rover)/config/hardware.yaml"
        command="load"/>
    <rosparam file="$(find spear_rover)/config/controllers.yaml"
        command="load" />
    <rosparam file="$(find spear_rover)/config/joint_limits.yaml"
        command="load" />

    <rosparam command="load"
        file="$(find spear_rover)/config/diffdrive.yaml" />

    <!-- load rover params from URDF model -->
    <param name="robot_description"
        command="$(find xacro)xacro '$(find spear_simulator)models/rover/TARS_V2.urdf'" />


    <node name="CASE_hardware_interface" pkg="spear_rover"
        type="CASE_hardware_interface_node" output="screen" launch-prefix="gdb -ex run --args"  />
    <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false" output="screen" ns="/"
        args="
        /CASE/controller/state
	    /CASE/controller/velocity/left_front_wheel
	    /CASE/controller/velocity/left_rear_wheel
	    /CASE/controller/velocity/right_front_wheel
	    /CASE/controller/velocity/right_rear_wheel
        /rover_diff_drive_controller
        " />

	<!--
		canros's server uses a launch file to run, so instead of using the
		<node> tag like we do everywhere else we have to use the <include>
		tag and pass in arguments.
	-->
	<include file="$(find canros)/launch/server.launch">
		<arg name="can_interface" value="$(arg interface)" />
	</include>


</launch>
