<!-- Top-level launch file which starts everything for manual driving -->
<launch>
  <arg name="simulation" default="false"/>

  <include file="$(find spear_rover)/launch/rover.launch" unless="$(arg simulation)"/>
  <include file="$(find spear_simulator)/launch/rover.launch" if="$(arg simulation)"/>

  <include file="$(find spear_rover)/launch/udp.launch" unless="$(arg simulation)"/>
  <include file="$(find spear_simulator)/launch/steering.launch" if="$(arg simulation)"/>
</launch>
