<!-- Top-level launch file which starts everything for manual driving -->
<launch>
  <arg name="simulation" default="false"/>

  <include file="$(find spear_rover)/launch/rover.launch" unless="$(arg simulation)"/>
  <include file="$(find spear_simulator)/launch/rover.launch" if="$(arg simulation)"/>

  <include file="$(find spear_rover)/launch/udp.launch" unless="$(arg simulation)"/>
  <include file="$(find spear_simulator)/launch/steering.launch" if="$(arg simulation)"/>

  <include file="$(find spear_rover)/launch/ar_track.launch"/>

  <include file="$(find spear_rover)/launch/flexbe_onboard.launch"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find spear_rover)/rviz/drive.rviz"/>
</launch>
