<!-- Launch the ROS navigation stack -->
<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- local_costmap_params.yaml expects a point cloud published to topic /planner_cloud  -->
    <remap from="planner_cloud" to="/obstacles_detection/obstacles"/>
    <remap from="map" to="/rtabmap/grid_map"/>
    <remap from="cmd_vel" to="/rover_diff_drive_controller/cmd_vel"/>
    <!-- Subscribe to the filtered odometry from the ekf node -->
    <remap from="odom" to="/ekf/map/odometry/filtered"/>
    <rosparam file="$(find spear_rover)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find spear_rover)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find spear_rover)/config/move_base/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find spear_rover)/config/move_base/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find spear_rover)/config/move_base/base_local_planner_params.yaml" command="load"/>
  </node>
</launch>
