<!-- Top-level launch file which starts everything for autonomous navigation -->
<launch>
  <arg name="simulation" default="false"/>

  <include file="$(find spear_rover)/launch/rover.launch" unless="$(arg simulation)"/>
  <include file="$(find spear_simulator)/launch/rover.launch" if="$(arg simulation)"/>

  <include file="$(find spear_rover)/launch/station_adapter.launch"/>

  <include file="$(find spear_rover)/launch/move_base.launch"/>
  <include file="$(find spear_rover)/launch/state_estimate.launch"/>
  <include file="$(find spear_rover)/launch/visual_odom.launch" unless="$(arg simulation)"/>
  <include file="$(find spear_simulator)/launch/visual_odom.launch" if="$(arg simulation)"/>
  <include file="$(find spear_rover)/launch/rtabmap_obstacles.launch"/>

  <include file="$(find spear_rover)/launch/moveit.launch"/>

  <include file="$(find spear_rover)/launch/ar_track.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <include file="$(find spear_rover)/launch/flexbe_onboard.launch"/>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <node type="diagnostics.py" name="diagnostics" pkg="spear_rover"/>
</launch>
