<!-- Launches everything needed to drive the rover by sending Twist messages -->
<launch>
  <!-- Default can device -->
  <arg name="interface" default="vcan0"/>

  <!-- Launch canros server -->
  <include file="$(find canros)/launch/server.launch">
    <arg name="can_interface" value="$(arg interface)"/>
  </include>

  <!-- Map ROS messages to/from CAN messages -->
  <node name="can_mapper" pkg="spear_rover" type="mapper.py" output="screen"/>
  <!-- Publish wheel odometry -->
  <node name="odom_tf_publisher_node" pkg="spear_rover" type="odom_tf_publisher_node"/>
  <!-- Convert twist messages to motor commands -->
  <include file="$(find spear_hardware)/launch/hardware.launch"/>

  <!-- Publish robot description -->
  <include file="$(find spear_rover)/launch/robot_description.launch"/>

  <!-- Launch sensors -->
  <include file="$(find spear_rover)/launch/sensors.launch"/>
</launch>
