<launch>
	<!--
		This launch file will, by default, launch the canros server such that
		it listens to the "can0" device. You can change it by passing in an
		"interface" argument, e.g:

			$ roslaunch spear_rover rover2_can.launch interface:=vcan0

		...will make the canros server listen to the "vcan0" device. This is
		good for local testing.
	-->
	<arg name="interface" default="can0" />

	<node name="can_mapper" pkg="spear_rover" type="mapper.py" output="screen" />

	<!--
		canros's server uses a launch file to run, so instead of using the
		<node> tag like we do everywhere else we have to use the <include>
		tag and pass in arguments.
	-->
	<include file="$(find canros)/launch/server.launch">
		<arg name="can_interface" value="$(arg interface)" />
	</include>
</launch>
