<!-- Start rtabmap. Doesn't publish a tf. Doesn't do visual odom. -->
<!-- This is our main rtabmap launch file which can be used in simulator and with zed cam -->
<launch>

  <arg name="rgb_topic"               	default="/camera_depth/rgb" />
  <arg name="depth_topic"               default="/camera_depth/depth" />
  <arg name="depth_camera_info_topic" 	default="/camera_depth/camera/info" />
  <arg name="camera_info_topic" 	default="/camera_depth/camera/info" />
  <arg name="odom_topic"                default="odom" />
  <arg name="camera_frame"              default="camera_depth_optical_frame" />

  <!-- Publish a transform so rtabmap knows where the camera is -->
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher"
	      args="0.3 0 0.2 0 0 0 base_link $(arg camera_frame) 100"/>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <!-- RTAB-map tuning parameters -->
    <arg name="rtabmap_args" value="--delete_db_on_start 
  	  --Odom/ResetCountdown 1
  	  --Odom/Strategy 1
  	  --Vis/CorType 0" />
  
    <arg name="rgb_topic"               	value="$(arg rgb_topic)" />
    <arg name="depth_topic"             	value="$(arg depth_topic)" />
    <arg name="camera_info_topic"       	value="$(arg camera_info_topic)" />
    <arg name="depth_camera_info_topic" 	value="$(arg depth_camera_info_topic)" />
    <arg name="frame_id"                        value="$(arg camera_frame)" />

    <!-- The zed camera does its own visual odometry so rtabmap doesn't have to -->
    <arg name="approx_sync"                   value="false" />
    <arg name="visual_odometry"               value="false" />
    <arg name="odom_topic"                    value="$(arg odom_topic)" />
  </include>

</launch>
