<!-- Start rtabmap for SLAM. Doesn't publish a tf. Doesn't do visual odom. -->
<!-- This is our main rtabmap launch file which can be used in simulator and with zed cam -->
<launch>

  <arg name="rgb_topic" default="/camera/rgb/image_raw"/>
  <arg name="depth_topic" default="/camera/depth/image_raw"/>
  <arg name="camera_info_topic" default="/camera/rgb/camera_info"/>
  <arg name="depth_camera_info_topic" default="/camera/depth/camera_info"/>
  <!-- <arg name="odom_topic"                default="odom"/> -->
  <arg name="camera_frame" default="camera_depth_optical_frame"/>
  <arg name="odom_frame_id" default="odom"/>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <!-- RTAB-map tuning parameters -->
    <arg name="rtabmap_args" value="--delete_db_on_start --Odom/ResetCountdown 1 --Odom/Strategy 1 --Vis/CorType 0"/>
    <arg name="rtabmapviz" value="false"/>
    <arg name="rviz" value="false"/>

    <arg name="rgb_topic" value="$(arg rgb_topic)"/>
    <arg name="depth_topic" value="$(arg depth_topic)"/>
    <arg name="camera_info_topic" value="$(arg camera_info_topic)"/>
    <arg name="depth_camera_info_topic" value="$(arg depth_camera_info_topic)"/>
    <arg name="frame_id" value="$(arg camera_frame)"/>
    <arg name="odom_frame_id" value="$(arg odom_frame_id)"/>

    <!-- The zed camera does its own visual odometry so rtabmap doesn't have to -->
    <arg name="approx_sync" value="true"/>
    <arg name="visual_odometry" value="false"/>
  </include>

</launch>
