<!-- Receive and send commands over UDP to the station, and translate them to/from ROS messages -->
<launch>
  <!-- Destination host name or IP address, and destination port -->
  <arg name="target" default="ryan"/>
  <arg name="target_port" default="$17001"/>
  <!-- The port to receive packets on -->
  <arg name="port" default="17001"/>

  <!-- Receive commands from the station -->
  <node name="udp_receiver" pkg="nimbro_topic_transport" type="udp_receiver" output="screen">
    <param name="port" value="$(arg port)"/>
  </node>

  <!-- Send feedback to the station -->
  <node name="udp_sender" pkg="nimbro_topic_transport" type="udp_sender" output="screen">
    <param name="destination_addr" value="$(arg target)"/>
    <param name="destination_port" value="$(arg target_port)"/>

    <!-- Only send certain topics back to the station -->
    <rosparam command="load" file="$(find spear_rover)/config/udp_topics.yaml"/>
  </node>
</launch>
