<!-- Launch ZED camera for visual odometry and RTAB-Map for SLAM -->
<launch>
  <arg name="rgb_topic" default="rgb/image_raw"/>
  <arg name="camera_info_topic" default="rgb/camera_info"/>
  <arg name="depth_topic" default="depth/image_raw"/>
  <arg name="depth_camera_info_topic" default="depth/camera_info"/>
  <arg name="point_cloud_topic" default="depth/points"/>
  <arg name="camera_name" default="camera_depth"/>

  <node name="$(arg camera_name)" pkg="zed_wrapper" type="zed_wrapper_node" output="screen">
    <rosparam file="$(find zed_wrapper)/params/common.yaml" command="load"/>
    <rosparam file="$(find zed_wrapper)/params/zed.yaml" command="load"/>
    <rosparam file="$(find spear_rover)/config/zed/override_params.yaml" command="load"/>

    <remap from="$(arg camera_name)/rgb/image_rect_color" to="$(arg camera_name)/$(arg rgb_topic)"/>
    <remap from="$(arg camera_name)/rgb/camera_info" to="$(arg camera_name)/$(arg camera_info_topic)"/>
    <remap from="$(arg camera_name)/depth/depth_registered" to="$(arg camera_name)/$(arg depth_topic)"/>
    <remap from="$(arg camera_name)/depth/camera_info" to="$(arg camera_name)/$(arg depth_camera_info_topic)"/>
    <remap from="$(arg camera_name)/point_cloud/cloud_registered" to="$(arg camera_name)/$(arg point_cloud_topic)"/>
  </node>

  <!-- <param name="zed_description" textfile="$(find zed_wrapper)/urdf/zed.urdf" />
  <node name="zed_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" required="true">
    <remap from="robot_description" to="zed_description" />
  </node> -->
</launch>
