<launch>
  <node pkg="joy" name="joy_node" type="joy_node" output="screen">
    <param name="autorepeat_rate" value="10"/>
    <!--
        We want faster updates when moving the controller,
        but not so fast we flood things.
    -->
    <param name="coalesce_interval" value="0.05"/>
  </node>

  <node pkg="teleop_twist_joy" name="teleop_node" type="teleop_node" output="screen">
    <remap from="cmd_vel" to="/drive_controller/cmd_vel"/>
    <param name="enable_button" value="4"/>
    <param name="scale_angular" value="64"/>
    <param name="scale_linear" value="16"/>
    <param name="axis_angular" value="3"/>
    <param name="axis_linear" value="1"/>
  </node>
</launch>
